*{
	box-sizing: border-box;
	margin:0;
}
body{
	/*background-color: bisque;*/
}
.Reg{
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid red;
}